
  .showImage {
     height: 100%; width: 100%; 
     background-image: url("../../../assets/img/citygroup/background-image.jpg"); 
     background-repeat: no-repeat; 
     background-size: cover;
}

.dropdown-container {
  max-height: 30px;  
  overflow-y: auto;   
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
  width: 100%;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}


 @media (max-width: 767px) { 
    .contentBody {
      margin-left: 2%;
      margin-right: 2%;

    }
    .formInput{
     width: 95%;
    }
    .inputField{
      margin-left: 2%;
    }
  }
  
  @media (min-width: 768px) { 
   .contentBody {
      margin-left: 25%;
      margin-right: 25%;
    }
    .formInput{
    width: 75%;
    }
     .inputField{
      margin-left: 16.5%;
    }
  }