<!-- <div style="height: 100%;">
    <mat-sidenav-container class="h-100 overlay"
        style="background: url(./assets/img/eRequirement/E-Req1.png); background-repeat: no-repeat; background-size: 100% 100%;">
 
        <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 25vh; margin-bottom: 25vh;">
            <div class="col-md-3  mat-elevation-z6"
                style="text-align: center;margin-left:25%;margin-right:25%; padding-top: 10px; padding-left: 2%; padding-right: 2%; border-radius: 25px; background-image: radial-gradient( circle farthest-corner at 50.4% 50.5%,  rgba(251,32,86,1) 0%, rgba(135,2,35,1) 90% );">

                <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                    <div class="">
                        <div class="" style="color: #ffffff; font-weight: bold; text-align: center; font-size: 25px;">
                            <i class="fa fa-align-justify"></i>
                            Reset Password
                        </div>
                        <div class="card-body" style="margin: 0px; padding: 0px;">

                            <div class="col-md-12" style="padding: 0px; margin: 0px;">

                                <div class="container-fluid" style="padding: 10px;">


                                    <form #userForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">

 
                                        <div class="form-group clearfix">
                                            <div class="input-group input-group-sm mb-3"
                                                style="width: 75%; margin-left: 12.5%;">

                                                <input id="password" type="text" aria-label="Small"
                                                    aria-describedby="inputGroup-sizing-sm" autofocus
                                                    required
                                                    class="form-control " placeholder="Password"
                                                    name="password" formControlName="password">

                                                <small style="width: 100%; color: #ffffff !important;"
                                                    class="text-danger"
                                                    *ngIf="form.controls['password'].touched && form.controls['password'].errors?.required">
                                                    Password  is required</small>

                                                <small style="width: 100%; color: #ffffff !important;"
                                                    class="text-danger"
                                                    *ngIf="form.controls['password'].hasError('minlength')">
                                                    Password must be 5 digits</small>

                                            </div>

                                        </div>

                                             <div class="form-group clearfix">
                                            <div class="input-group input-group-sm mb-3"
                                                style="width: 75%; margin-left: 12.5%;">
                                                


                                                <input id="confirmPassword" type="text" aria-label="Small"
                                                    aria-describedby="inputGroup-sizing-sm" autofocus
                                                     required
                                                    class="form-control " placeholder="Confirm Password"
                                                    name="confirmPassword" formControlName="confirmPassword">
                                                      
                                                    

                                                    <div>
                                                <small class="text-white" *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched">
                                                Password and Confirm Password do not match
                                            </small>

                                            <small class="text-white" *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')">
                                                Confirm Password is required
                                            </small> 
                                                    </div>

                                              

                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="input-group input-group-sm"
                                                style="width: 75%; margin-left: 12.5%;">
                                                <button class="btn mat-elevation-z6 w-100"
                                                    [disabled]="userForm.form.invalid"
                                                    style="background-image: linear-gradient( 179.7deg,  rgba(197,214,227,1) 2.9%, rgba(144,175,202,1) 97.1% ); color:darkblue; font-weight:bold;"
                                                    type="submit">Submit</button>
                                                   
 
                                            </div>
                                        </div>

                        </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-container>


</div>


 -->








 <div style="height: 100%;">
    <mat-sidenav-container class="h-100 overlay"
        style="background: url(./assets/img/eRequirement/E-Req1.png); background-repeat: no-repeat; background-size: 100% 100%;">
  

        <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 25vh; margin-bottom: 25vh;">

           
            <div class="col-md-3 col-sm-10 mat-elevation-z6 contentBody"
                style="text-align: center; padding-top: 10px; padding-left: 2%; padding-right: 2%; border-radius: 25px; background-image: radial-gradient( circle farthest-corner at 50.4% 50.5%,  rgba(251,32,86,1) 0%, rgba(135,2,35,1) 90% );">

                <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                    <div class="">
                        <div class="" style="color: #ffffff; font-weight: bold; text-align: center; font-size: 25px;">
                            <i class="fa fa-align-justify"></i>
                          Update Password
                        </div>
                        <div class="card-body" style="margin: 0px; padding: 0px;">

                            <div class="col-md-12" style="padding: 0px; margin: 0px;">

                                <div class="container-fluid" style="padding: 10px;">


                                   


                                    <form id="subForm" [formGroup]="form" #f="ngForm" class="form-horizontal"  (ngSubmit)="onSubmit()">

                                       

                                         <div class="form-group clearfix">
                                            <label class="control-label col-sm-1 ml-0 p-0 m-0 pt-1" for="password"
                                                style="float: left;"> </label>
                                            <div  class="col-sm-10 p-0 m-0" style="float: left;">
                                                <div style="padding: 0px; width: 96.5%; font-size: 13px; float: left;">
                                            
                                                    <input formControlName="password" type="text"
                                                        class="form-control form-control-sm input-sm input-sm-*" id="password"
                                                        placeholder="Enter password " name="password" >

                                                         

                                                        <small style="width: 100%; color: #ffffff !important;"
                                                        class="text-danger"
                                                        *ngIf="form.controls['password'].touched && form.controls['password'].errors?.required">
                                                        password is required</small>
    
                                                 <small style="width: 100%; color: #ffffff !important;"
                                                        class="text-danger"
                                                        *ngIf="form.controls['password'].hasError('minlength')">
                                                        Minimum 5 characters required for your password</small>
                                                </div>
                                            
                                                 <span style="position: absolute; right: 10px; top: 8px;" class="text-danger">*</span>
                                            </div>
                                        </div> 


                                        <div class="form-group clearfix">
                                        <label class="control-label col-sm-1 ml-0 p-0 m-0 pt-1" for="confirmPassword" style="float: left;"></label>
                                        <div class="col-sm-10 p-0 m-0" style="float: left;">
                                            <div style="padding: 0px; width: 96.5%; font-size: 13px; float: left;">
                                            <input formControlName="confirmPassword" type="text"
                                                class="form-control form-control-sm input-sm" id="confirmPassword"
                                                placeholder="Confirm password" name="confirmPassword">

                                                

                                            <small class="text-white" *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched">
                                                Password and Confirm Password do not match
                                            </small>

                                            <small class="text-white" *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')">
                                                Confirm Password is required
                                            </small>
                                            </div>
                                            <!-- <span class="ml-1 mt-2 text-danger pull-left">*</span> -->
                                             <span style="position: absolute; right: 10px; top: 8px;" class="text-danger">*</span>
                                        </div>
                                        </div>









                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                            <label class="control-label col-sm-1 ml-0 p-0 m-0 pt-1" for="password"
                                                style="float: left;"> </label>
                                            <div class="col-sm-10 p-0 m-0" style="float: left;">
                                                <div style="padding: 0px; width: 102.0%; font-size: 13px; float: left;">
                                                    <button class="btn mat-elevation-z6 w-100" 
                                                    [disabled]="f.form.invalid"
                                                    style="background-image: linear-gradient( 179.7deg,  rgba(197,214,227,1) 2.9%, rgba(144,175,202,1) 97.1% ); color:darkblue; font-weight:bold;"
                                                    type="submit">Submit</button>
                                                    
                                                </div>
                                                <!-- <div style="float: left" class="text-white">Already Registered <a class="text-primary" class="regitext" routerLink="/login">Login</a></div>    -->
                                                
                                                </div>
                                                
                                            </div>
                                        </div>


                         

                                    </form>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-container>

</div>



